In [1]:
import pandas as pd

In [3]:
file_path = "../Data/chr1.27120000.27895000/hic.clean.1/hic.clean.csv.gz"
df = pd.read_csv(file_path)

df

        i1   j1        fq  pval  fdr  bon       ibp       jbp        rawc
0        1   18  0.311220   0.0  0.0  0.0  27120000  27205000   112.10443
1        2   17  0.307485   0.0  0.0  0.0  27125000  27200000   108.62201
2        3    7  0.997953   0.0  0.0  0.0  27130000  27150000   181.37466
3        4    8  0.998529   0.0  0.0  0.0  27135000  27155000   209.36040
4        4    9  0.998317   0.0  0.0  0.0  27135000  27160000   194.99303
...    ...  ...       ...   ...  ...  ...       ...       ...         ...
12080  153  154  1.000000   1.0  1.0  1.0  27880000  27885000   528.24884
12081  153  155  1.000000   1.0  1.0  1.0  27880000  27890000   282.07100
12082  154  154  1.000000   1.0  1.0  1.0  27885000  27885000  1420.83440
12083  154  155  1.000000   1.0  1.0  1.0  27885000  27890000   396.50110
12084  155  155  1.000000   1.0  1.0  1.0  27890000  27890000  1360.20980

[12085 rows x 9 columns]